<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gallery</title>
    <link rel="stylesheet" href="../assets/css/vendor.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body class="bg-light">

    <!-- header -->
    <header class="header-sticky header-light bg-white">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="../index.html">
            <img class="navbar-logo navbar-logo-light" src="../assets/images/demo/logo/logo-light.svg" alt="Logo">
            <img class="navbar-logo navbar-logo-dark" src="../assets/images/demo/logo/logo-dark.svg" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html" role="button">
                  Home
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../landing-pages.html">
                    <span>Landing Pages</span>
                    <p>Start with one of pre-made templates.</p>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../inner-pages.html">
                    <span>Inner Pages</span>
                    <p>Extend your website with these pages.</p>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../app-pages.html">
                    <span>App Pages</span>
                    <p>Add functionality to your website.</p>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-mega">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Components
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                  <div class="row">
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="index.html" class="highlight">Getting Started</a></li>
                        <li><a href="accordions.html">Accordions</a></li>
                        <li><a href="backgrounds.html">Backgrounds</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="boxes.html">Boxes</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="cards.html">Cards</a></li>
                        <li><a href="carousels.html">Carousels</a></li>
                        <li><a href="cta.html">CTA</a></li>
                        <li><a href="features.html">Features</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="footers.html">Footers</a></li>
                        <li><a href="forms.html">Forms</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="lightbox.html">Lightbox</a></li>
                        <li><a href="maps.html">Maps</a></li>
                        <li><a href="masonry.html">Masonry</a></li>
                        <li><a href="modals.html">Modals</a></li>
                        <li><a href="partners.html">Partners</a></li>
                        <li><a href="presentation.html">Presentations</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="progress.html">Progress</a></li>
                        <li><a href="sliders.html">Sliders</a></li>
                        <li><a href="steps.html">Steps</a></li>
                        <li><a href="tables.html">Tables</a></li>
                        <li><a href="tabs.html">Tabs</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="typed.html">Typed</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="users.html">Users</a></li>
                        <li><a href="utility.html">Utility</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="navbar-nav align-items-center mr-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Michael Doe
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../html/app/profile.html">Public Profile</a>
                  <a class="dropdown-item" href="../html/app/connections.html">Connections</a>
                  <a class="dropdown-item" href="../html/app/groups.html">Groups</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../html/app/settings.html">Settings</a>
                  <a class="dropdown-item" href="../html/app/payments.html">Payments</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- header -->

    <section class="hero hero-with-header separator-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="font-weight-bold">Gallery</h1>
            <p>Use examples bellow to showcase your image in a cool way.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-custom">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/components/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>    
    </section>


    <!-- gallery -->
    <section class="component">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4>Modern</h4>
          </div>
        </div>
      </div>
      <div class="tab-content" id="component-1">

        <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
          <div class="component-example">
            <div class="container gallery">
              <div class="row mb-1">
                <div class="col-10">
                  <div class="owl-carousel visible align-bottom" data-items="[2,2,1]" data-margin="10" data-loop="true" data-autoplay="true">
                    <figure class="photo equal equal-short">
                      <a href="../assets/images/demo/image-1.jpg" 
                        style="background-image: url(../assets/images/demo/image-1.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal">
                      <a href="../assets/images/demo/image-2.jpg" 
                        style="background-image: url(../assets/images/demo/image-2.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal equal-short">
                      <a href="../assets/images/demo/image-3.jpg" 
                        style="background-image: url(../assets/images/demo/image-3.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal">
                      <a href="../assets/images/demo/image-4.jpg" 
                        style="background-image: url(../assets/images/demo/image-4.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal">
                      <a href="../assets/images/demo/image-5.jpg" 
                        style="background-image: url(../assets/images/demo/image-5.jpg);">
                      </a>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-10">
                  <div class="owl-carousel visible" data-items="[2,2,1]" data-margin="10" data-loop="true" data-autoplay="true" data-rtl="true">
                    <figure class="photo equal equal-short">
                      <a href="../assets/images/demo/image-6.jpg" 
                        style="background-image: url(../assets/images/demo/image-5.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal">
                      <a href="../assets/images/demo/image-7.jpg" 
                        style="background-image: url(../assets/images/demo/image-4.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal equal-short">
                      <a href="../assets/images/demo/image-8.jpg" 
                        style="background-image: url(../assets/images/demo/image-3.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal">
                      <a href="../assets/images/demo/image-9.jpg" 
                        style="background-image: url(../assets/images/demo/image-2.jpg);">
                      </a>
                    </figure>
                    <figure class="photo equal">
                      <a href="../assets/images/demo/image-10.jpg" 
                        style="background-image: url(../assets/images/demo/image-1.jpg);">
                      </a>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-details">
            <div class="container">
              <div class="row component-details-markup">
                <div class="col">
                  <pre><code class="language-markup">&lt;div class="row mb-1">
  &lt;div class="col-10">
    &lt;div class="owl-carousel visible align-bottom" data-items="[2,2]" data-margin="10" data-loop="true" data-autoplay="true">
      &lt;figure class="photo equal equal-short">
        &lt;a href="path/to/image" 
          style="background-image: url(path/to/image);">
        &lt;/a>
      &lt;/figure>
      ...
    &lt;/div>
  &lt;/div>
&lt;/div>
&lt;div class="row justify-content-end">
  &lt;div class="col-10">
    &lt;div class="owl-carousel visible" data-items="[2,2]" data-margin="10" data-loop="true" data-autoplay="true" data-rtl="true">
      &lt;figure class="photo equal equal-short">
        &lt;a href="path/to/image" 
          style="background-image: url(path/to/image);">
        &lt;/a>
      &lt;/figure>
      ...
    &lt;/div>
  &lt;/div>
&lt;/div></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- / gallery -->


    <!-- gallery -->
    <section class="component">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4>Scrolling Gallery</h4>
          </div>
        </div>
      </div>
      <div class="tab-content" id="component-1">

        <div class="tab-pane show active bg-dark" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
          <div class="component-example">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 vh-max-75">
                  <div data--250-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-1000px);">
                    <ul class="masonry row gutter-3">
                      <li class="col-6">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-1.jpg">
                            <img src="../assets/images/demo/image-1.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>
                      <li class="col-6 mt-10">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-2.jpg">
                            <img src="../assets/images/demo/image-2.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>
                      <li class="col-6">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-3.jpg">
                            <img src="../assets/images/demo/image-3.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>
                      <li class="col-6">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-4.jpg">
                            <img src="../assets/images/demo/image-4.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>
                      <li class="col-6">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-5.jpg">
                            <img src="../assets/images/demo/image-5.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>
                      <li class="col-6">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-4.jpg">
                            <img src="../assets/images/demo/image-4.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>
                      <li class="col-6">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-3.jpg">
                            <img src="../assets/images/demo/image-3.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>
                      <li class="col-6">
                        <figure class="photo">
                          <a href="../assets/images/demo/image-2.jpg">
                            <img src="../assets/images/demo/image-2.jpg" alt="Image">
                          </a>
                        </figure>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-details bg-white">
            <div class="container">
              <div class="row component-details-markup">
                <div class="col">
                  <pre><code class="language-markup">&lt;div class="col-md-10 col-lg-8 vh-max-75">
  &lt;div data--250-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-1500px);">
    &lt;ul class="masonry row gutter-3">
      &lt;li class="col-6">
        &lt;figure class="photo">
          &lt;a href="path/to/image">
            &lt;img src="path/to/image" alt="Image">
          &lt;/a>
        &lt;/figure>
      &lt;/li>
      ...
    &lt;/ul>
  &lt;/div>
&lt;/div></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- / scrolling gallery -->



    <!-- masonry -->
    <section class="component">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4>Masonry</h4>
          </div>
        </div>
      </div>
      <div class="tab-content" id="component-1">

        <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
          <div class="component-example">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                  <ul class="masonry gallery row gutter-2">
                    <li class="col-6">
                      <figure class="photo photo-double equal">
                        <a href="../assets/images/demo/image-1.jpg"
                          style="background-image: url(../assets/images/demo/image-1.jpg);">
                          <figcaption class="photo-caption">
                            <span>Photo Caption</span>
                          </figcaption>
                        </a>
                      </figure>
                    </li>
                    <li class="col-6">
                      <figure class="photo equal">
                        <a href="../assets/images/demo/image-2.jpg"
                          style="background-image: url(../assets/images/demo/image-2.jpg);">
                          <figcaption class="photo-caption">
                            <span>Photo Caption</span>
                          </figcaption>
                        </a>
                      </figure>
                    </li>
                    <li class="col-6">
                      <figure class="photo equal">
                        <a href="../assets/images/demo/image-3.jpg"
                          style="background-image: url(../assets/images/demo/image-3.jpg);">
                          <figcaption class="photo-caption">
                            <span>Photo Caption</span>
                          </figcaption>
                        </a>
                      </figure>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="component-details">
            <div class="container">
              <div class="row component-details-markup">
                <div class="col">
                  <pre><code class="language-markup">&lt;ul class="masonry gallery row gutter-2">
  &lt;li class="col-6">
    &lt;figure class="photo equal">
      &lt;a href="path/to/image"
        style="background-image: url(path/to/image);">
        &lt;figcaption class="photo-caption">
          &lt;span>Photo Caption&lt;/span>
        &lt;/figcaption>
      &lt;/a>
    &lt;/figure>
  &lt;/li>
&lt;/ul></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- / gallery -->


    <script src="../assets/js/vendor.js"></script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>